<div id="main-slider" data-stretch="true"><!-- meta slider -->
<div style="width: 100%;" class="metaslider metaslider-flex metaslider-39 ml-slider nav-hidden">
    
    <div id="metaslider_container_39">
        <div id="metaslider_39" class="flexslider">
            <ul class="slides">
                <li style="display: none;"><img src="/images/coworkers.jpg" height="360" width="1024" class="slider-39 slide-68" /></li>
            </ul>
        </div>
        
    </div>
    <script type="text/javascript">
        var metaslider_39 = function($) {
            $('#metaslider_39').flexslider({ 
                slideshowSpeed:3000,
                animation:"fade",
                controlNav:1,
                directionNav:false,
                pauseOnHover:true,
                direction:"horizontal",
                reverse:false,
                animationSpeed:600,
                prevText:"<",
                nextText:">",
                slideshow:true,
                useCSS:false
            });
        };
        var timer_metaslider_39 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_39, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_39, 100) : metaslider_39(window.jQuery);
        };
        timer_metaslider_39();
    </script>
</div>
<!--// meta slider--></div>
	
	<div id="main" class="site-main">
		<div class="full-container">
			
<div id="primary" class="content-area">
	<div id="content" class="site-content" role="main">
		<div class="entry-content">
			<div class="panel-grid" id="pg-home-0" ><div class="panel-grid-cell" id="pgc-home-0-0" ><div class="panel widget widget_circleicon-widget panel-first-child panel-last-child" id="panel-home-0-0-0">		<div class="circle-icon-box circle-icon-position-top circle-icon-hide-box circle-icon-size-small">
			<div class="circle-icon-wrapper">
                <div class="circle-icon" >
					<div class="icon-coffee"></div>
				</div>
            </div>
			<h4>Gourmet</h4>            
			<p class="text">Todos nuestros productos son artesanales, hechos por personas con gusto delicado y exquisito paladar.</p>
		</div>
	</div>
</div>
<div class="panel-grid-cell" id="pgc-home-0-1" >
	<div class="panel widget widget_circleicon-widget panel-first-child panel-last-child" id="panel-home-0-1-0">		
		<div class="circle-icon-box circle-icon-position-top circle-icon-hide-box circle-icon-size-small">
			<div class="circle-icon-wrapper">
	    	    <div class="circle-icon" >
					<div class="icon-leaf"></div>
				</div>
   			</div>
   			<h4>Sustentable</h4>            
			<p class="text">Nos preocupamos de que nuestros procesos sean sostenibles. Entendemos que debemos satisfacer las necesidades de nuestra generación sin sacrificar las necesidades de las futuras generaciones.</p>
		</div>
	</div>
</div>
	<div class="panel-grid-cell" id="pgc-home-0-2" >
		<div class="panel widget widget_circleicon-widget panel-first-child panel-last-child" id="panel-home-0-2-0">		
			<div class="circle-icon-box circle-icon-position-top circle-icon-hide-box circle-icon-size-small">
				<div class="circle-icon-wrapper">
                	<div class="circle-icon" >
						<div class="icon-thumbs-up"></div>
					</div>
                </div>
                <h4>Responsable</h4>            
				<p class="text">Estamos comprometidos con la sociedad, y desarrollamos nuestros productos buscando el bienestar de las comunidades con las que trabajamos.</p>
			</div>
		</div>
	</div>
</div>		
</div>
</div><!-- #content .site-content -->
</div><!-- #primary .content-area -->			
</div><!-- .full-container -->
</div><!-- #main .site-main -->
