<br/>
<div class="well" style="width:1000px; margin-left:auto; margin-right:auto;margin-top:70px;">
  <div class="row" style="margin-left:auto; margin-right:auto; width:100%;">
    <style>
    h2.ss-section-title{
        background-color: red;
        color:red;
    }
    </style>
    <div class="col-md-12">     
        <div style="width:980px;">
            <p class="p1">
                Contáctate con nosotros para que te entreguemos los planes de nuestro servicio.
            </p>
            <p class="p2">
                Te aseguramos el mejor precio del mercado y los mejores candidatos para que realicen tu trabajo!
            </p>
            <p class="p3">
                Envíanos un email a <a href="mailto:contacto@uwork.cl">contacto@uwork.cl</a>
            </p>
            <p>
            <br></p>
            <div class="row">
                <div class="span3">
                    <p class="p10">
                        ¿quiénes somos?
                    </p>
                    <p class="p4">
                        <span style="font-size:115%">
                            <span style="color:#0088cc">uwork</span> es una bolsa de trabajo que está 100% enfocada en estudiantes.</span><br> De esta forma facilitamos a las empresas en la búsqueda de candidatos para trabajos part time o esporádicos.
                    </p>
                </div>
                <div class="span3">
                    <p class="p10">
                        ¿qué tenemos?
                    </p>
                    <p class="p4">
                        <span style="font-size:115%">Nuestros postulantes son tan variados como profesiones hay en el país.</span><br>
                        Si se busca gente para trabajar con niños… <span style="color:#0088cc">lo contactamos con estudiantes de párvulos.</span><br>
                        Si se busca promotores de tecnología… <span style="color:#0088cc">contamos con estudiantes de informática…</span><br>
                        Si se busca garzones, personal para catering, matrimonios y similares… <span style="color:#0088cc">les presentamos a estudiantes de gastronomía.</span><br>    
                        Si no requiere un estudiante de una carrera específica, y solo requiere experiencia    previa en su rubro… <span style="color:#0088cc">LE AYUDAREMOS CON ESOS CONTACTOS!</span>
                    </p>
                </div>
                <div class="span3">
                    <p class="p10">
                        ¿por qué elegirnos?
                    </p>
                <p class="p4">
                    <span style="font-size:115%">A diferencia del sistema tradicional, nosotros ya contamos con una creciente base de datos de estudiantes y no debemos buscarlos, por lo que el proceso de selección de candidatos es inmediato.</span><br>
                    Seleccionamos utilizando filtros, para ajustar el perfil del candidato a las necesidades específicas de tu empresa.
                </p>
            </div>
        </div>
        <p><br></p>
        <p><br></p>
    </div>
    <!--<div class"contacto" style="padding: 50px; font-size: 120%;text-align:center; height:500px;"><p>Contáctate con nosotros para que te entreguemos los planes de nuestro servicio. Te aseguramos el mejor precio del mercado y los mejores candidatos estudiantes para que realizen tu trabajo!.
    Puedes enviarnos un email a contacto@uwork.cl </p></div>-->
 
</div>
</div>
</div>
</div>