<title>Contacto Empresas - UWork</title>
<br/>
<div class="well" style="width:850px; margin-left:auto; margin-right:auto;margin-top:100px;">
  <div class="row" style="margin-left:auto; margin-right:auto; width:100%;">
    <style>
    h2.ss-section-title{
        background-color: red;
        color:red;
    }
    </style>
    <div class="col-md-12">
    <div class"contacto" style="padding: 50px; font-size: 120%;text-align:center; height:500px;"><p>Contáctate con nosotros para que te entreguemos los planes de nuestro servicio. Te aseguramos el mejor precio del mercado y los mejores candidatos estudiantes para realizar el trabajo!.
    Puedes enviarnos un email a contacto@uwork.cl o llamarnos al +569 85460613 </p></div>
 
</div>
</div>
</div>
</div>