<title>Inicio - UWork</title>
<script>
	$(document).ready(function(){
		$("#home").show();
		$("#form").hide();
		$("#contact").hide();
	});
	function showInicio(){
			$("#home").show();
			$("#form").hide();
			$("#contact").hide();
	}
	function showForm(){
		$("#home").hide();
		$("#form").show();
		$("#contact").hide();
	}
	
	function showContact(){
		$("#home").hide();
		$("#form").hide();
		$("#contact").show();
	}
</script>



	<!-- header slider -->
		<!-- Flexslider Slider -->
		<div id="home" style="margin-top:70px; width:1000px;">
				<div class="flexslider1">
					<div class="post">
						<img class="default-slider-image1"  src="/images/portadauwork2.png" >
					</div>
				</div>
	<!-- end Flexslider Slider -->
	<!-- header slider -->
			
	
				<div id="main" class="clearfix"><!-- Featured box -->
				<div id="featured-box" class="skt-section1">
				  <div class="container1">
					<div class="mid-box-mid row-fluid"> 
						<!-- Featured Box 1 -->
						<div class="mid-box span4"  >	  
							<div class="skt-iconbox iconbox-top">			
								<div class="iconbox-icon skt-animated small-to-large skt-viewport">			
									<i class="fa fa-group"></i>		    
								</div>			
								<div class="iconbox-content">				
									<h4>Personalizado</h4>				
									<p>Te buscamos un trabajo según tus requerimientos. No recibirás ofertas de trabajo que no te interesan, recibirás sólo aquellas que cumplan con lo que tú estas buscando.</p>			
								</div>			
								<div class="clearfix"></div>	  
							</div>
						</div>

						<!-- Featured Box 2 -->
						<div class="mid-box span4" >
							<div class="skt-iconbox iconbox-top">			
								<div class="iconbox-icon skt-animated small-to-large skt-viewport">			
									<i class="fa fa-shield"></i>			
								</div>			
								<div class="iconbox-content">				
									<h4>Eficiente</h4>				
									<p>El modelo que utiliza UWork hace más eficiente el proceso de búsqueda de trabajo para los estudiantes y de personal para las empresas. Te garantizamos ofertas adecuadas a tus intereses, en poco tiempo!</p>			
								</div>			
								<div class="clearfix"></div>		
							</div>
						</div>
						
						<!-- Featured Box 3 -->
						<div class="mid-box span4" >
							<div class="skt-iconbox iconbox-top">			
								<div class="iconbox-icon skt-animated small-to-large skt-viewport">			
									<i class="fa fa-desktop"></i>			
								</div>			
								<div class="iconbox-content">				
									<h4>Fácil</h4>				
									<p>El proceso de postulación es muy simple, solo debes llenar el formulario y con esos datos nosotros nos encargaremos de encontrar algo para ti. Tómate 1 minuto de tu tiempo, UWork hace el resto!</p>			
								</div>			
								<div class="clearfix"></div>		
							</div>
						</div>
						<div class="clear"></div>
					</div>
				  </div>
				</div>

				<div id="call-to-action-box" class="skt-section1">
					<div class="container1">
						<div class="call-to-action-block row-fluid">
							<div id="content" class="span12">
								<!-- Featured Area 2 -->
								<div class="skt-ctabox"> 
									<div class="skt-ctabox-content">
										<h2>Inscríbete y recibe miles de oportunidades de trabajo!</h2>						<p>Con UWork podrás trabajar en tus tiempos libres, en el trabajo que tú quieras y en los horarios que tú eligas. Somos el primer portal enfocado 100% en estudiantes.</p>					</div>
										<div class="skt-ctabox-button">
										<%= link_to "Inscríbete!", postula_path, class: "skt-ctabox-button" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


		