<br/>
<div class="well" style="width:80%; margin-left:auto; margin-right:auto;">
  <div class="row" style="margin-left:auto; margin-right:auto; width:100%;">
    
    <div class="col-md-12">
    <div style="margin-right:auto; margin-left:auto; padding-left:10%;padding-right:10%;">
      <div class="fb-like-box" data-href="https://www.facebook.com/699916390065576" data-width="800" data-height="600" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false" style="margin-right:auto; margin-left:auto;"></div>
    </div>
 
</div>
</div>
</div>
</div>
