<br/>
<div class="well" style="width:80%; margin-left:auto; margin-right:auto;margin-top:100px;">
  <div class="row" style="margin-left:auto; margin-right:auto; width:100%;">
    
    <div class="col-md-12">
    <div class"contacto" style="text-align:center;"><p>Puedes contactarnos enviandonos un correo a <a href="mailto:contacto@uwork.cl?Subject=Contacto%20Web" target="_top">
contacto@uwork.cl</a> ó a través de nuestro fan page en Facebook </p></div>
    <div style="margin-right:auto; margin-left:auto; padding-left:10%;padding-right:10%;">
      <div class="fb-like-box" data-href="https://www.facebook.com/699916390065576" data-width="800" data-height="600" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false" style="margin-right:auto; margin-left:auto;"></div>
    </div>
 
</div>
</div>
</div>
</div>
