<div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>	
<br/>
<div class="well" style="width:850px; margin-left:auto; margin-right:auto;margin-top:100px;">
  <div class="row" style="height:660px; margin-left:auto; margin-right:auto; width:100%;">
    
    <div class="col-md-12">
    <div class"contacto" style="text-align:center;"><p>Puedes contactarnos enviandonos un correo a <a href="mailto:contacto@uwork.cl?Subject=Contacto%20Web" target="_top">
contacto@uwork.cl</a> ó a través de nuestro fan page en Facebook </p></div>
    <div style="margin-right:10px; margin-left:10px; padding-left:5px;padding-right:5px;">
      <div class="fb-like-box" data-href="https://www.facebook.com/699916390065576" data-width="730" data-height="600" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false" style="margin-right:auto; margin-left:auto;"></div>
    </div>
 
</div>
</div>
</div>
</div>
