<br/>
<div class="well" style="width:850px; margin-left:auto; margin-right:auto;margin-top:100px;">
  <div class="row" style="margin-left:auto; margin-right:auto; width:100%;">
    <style>
    h2.ss-section-title{
    	background-color: red;
    	color:red;
    }
    </style>
    <div class="col-md-12">
    <div class"contacto" style="text-align:center;"><p>Puedes contactarnos enviandonos un correo a <a href="mailto:contacto@uwork.cl?Subject=Contacto%20Web" target="_top">
contacto@uwork.cl</a> ó a través de nuestro fan page en Facebook </p></div>
    <iframe src="https://docs.google.com/forms/d/1RZfl44ZlXJidiXFt6YXGhRT42MGz3oWO7wno0zmI6o4/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
 
</div>
</div>
</div>
</div>
