/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 */
 /*flash*/
.hidden { display: none; }
select{
	border-radius: 5px;
}
#skenav1 a {
	color:white;
	display: block;
	padding: 0 15px;
	text-decoration: none;
}
#skenav1 a:hover {
	color:white;
	background-color: #2B2A2A;
	display: block;
	padding: 0 15px;
	text-decoration: none;
}
.navlink{
	color:white;
	vertical-align:middle;
	display:inline-block;
	font-size:150%;
	height:101px;
	line-height: 95px;

}

.otro-input{
	width:150px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	vertical-align:middle;
	max-width: 250px;
}
.otro-input2{
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	vertical-align:middle;
	max-width: 250px;
}
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}
.notice{
	z-index: 100;
height: 50px;
width: 600px;
padding: 5px;
padding-top: 10px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	background: #303030;
	color: yellow;
	font-size: 25px;
	top: 20px;
	left: 20%;
}
.error{
	z-index: 100;
	height: 50px;
	width: 600px;
	padding: 5px;	
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	background: #303030;
	color: red;
	font-size: 25px;
	top: 20px;
	left: 20%;
}
.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
