/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 */
 /*flash*/
 #error_explanation h2{
 	line-height: 30px;
	font-size: 16px;
	margin:0px;
 }
 .otro-sign{
 	float:right;
 	margin:0px 0;
 	width:250px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	vertical-align:middle;
	max-width: 250px;
 }
 .form-group1{
 	margin-bottom:0px;
 	font-weight: 300;
 }
.contol-label1{
	font-weight:100;
}
.pagecontainer{
	width:1000px;
}
.pagecontainer1{
	margin-top:100px;
	width:1000px;
}
.hidden { display: none; }
select{
	border-radius: 5px;
}
.container1{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
#header1{
	height:80px;
}
#skenav1 a {
	color:white;
	display: block;
	padding: 0 15px;
	text-decoration: none;
}
#skenav1 a:hover {
	color:white;
	background-color: #2B2A2A;
	display: block;
	padding: 0 15px;
	text-decoration: none;
}
.navlink{
	color:white;
	vertical-align:middle;
	display:inline-block;
	font-size:130%;
	height:80px;
	line-height: 95px;

}
#logo1{		
	width: 221px;
	height: 118px;
	margin-top: 25px;
	position: absolute;
	z-index: 100;
}
ul.menu1 li{
	float: left;
	position: relative;
	margin-left: 0px;
	list-style: none outside none;
}
.flexslider1{
	position:relative;
	width:1000px;
}
.default-slider-image1{
	position:relative;
	width:1000px;
}
.skehead-headernav1{
	min-width:1000px;
	background-color:#3B3B3B;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}
#skenav1{
	float:right;
}
#top-nav-menu1{
	float:right;
}
a#backtop{
	background-color: #3890FF;
}
.skt-section1{
	margin-top: 20px;
	width:1000px;
}
.otro-input{
	width:150px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	vertical-align:middle;
	max-width: 300px;
}
.otro-input2{
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	vertical-align:middle;
	max-width: 250px;
}
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}
.notice{
	z-index: 100;
	line-height: 1.5em;
	height: 7em;
	width: 22em;
	padding: 2em;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	top: 25%;
	left: 30%;
	background: #303030;
	font-weight: 300;
	color: lightblue;
	font-size: 25px;
}
.alert{
	z-index: 100;
	line-height: 1.5em;
	height: 7em;
	width: 22em;
	padding: 2em;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	top: 25%;
	left: 30%;
	background: #303030;
	font-weight: 300;
	color: white;
	font-size: 25px;
}
.error{
	z-index: 100;
	line-height: 1.5em;
	height: 7em;
	width: 22em;
	padding: 2em;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	top: 25%;
	left: 30%;
	background: #303030;
	font-weight: 300;
	color: red;
	font-size: 25px;
}
.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
.p1 {
         font-family: "Century Gothic";
         text-align: center;
         font-size: 140%;
}
    .p2 {
         font-family: "Century Gothic";
         text-align: center;
         font-size:115%;
}
    .p3 {
         font-family: "Century Gothic";
         text-align: center;
         font-size:105%;
}
    .p4 {
         font-family: "Century Gothic";
         text-align: justify;
         font-size:80%;
}
    .p10 {
         font-family: "Century Gothic";
         text-align: center;
         font-size:165%;
         color:#0088cc;
}
    .row {
    	width:980px;
         margin-right: auto;
         margin-left: auto;
         padding: 10px;

}
    .span4 {
         padding-right: 1%;
         padding-left: 1%;
}