<p>Hola <%= @resource.email %>!</p>

<p>Nos llegó una petición para cambiar la clave de tu usuario en Uwork.cl. Continúa con el proceso haciendo click<%= link_to ' Aquí', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tu quién pidió cambiar la clave, porfavor ignora este correo.</p>
<p>Tu clave no cambiará a menos que crees una nueva en el link que aparece arriba.</p>
<p>Atentamente, El equipo de Uwork</p>
